.extra-small-icon a {
    font-size: 28px;
    width: 50px;
    height: 44px;
    line-height: 50px;
}
footer ul li a{
    color: black;
}
.footer-dark, .footer-dark a {
    color: black;
}
.logoblue{
    width: 75%;
    margin-bottom: 10px;
}
  .padding-top-heading{
    line-height: 40px; 
    padding-top: 100px;
  }
/*   
.home-div .home-text{
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 25px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  } */
.bg-gradiaent{
background: linear-gradient(to bottom left, #0a2894c2, #000000de);
position: absolute;
 width: 100%;
 height: 100%;
top: 0;
left: 0;
    
  
}
.overlay{
  opacity: 0.4;
  background: #080909;
  height: 100%;
  width: 100%;
}

/* 
.techno_rh{
  line-height: 20px; 
  padding-top: 100px;
} */


.techno_r{
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 25px;
  width: 74%;
  
}
.techno_rp{
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 25px;
  width: 74%;
}

.fi{
  font-size:16px;
  margin-left: 10px;
}





/* 
.tilt-box{
  display: flex;
  justify-content: center;
} */

/* 
.tilt-box img{

   height: 600px;
} */