/* General styles */

  #avatar-container {
    height: 500px;
    margin-top: 32px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #avatar-container1 {
    height: 524px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #avatar-container2 {
    height: 500px;
    margin-top: 0px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #avatar-container3 {
    height: 500px;
    margin-top: 33px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #avatar-container4 {
    height: 500px;
    margin-top: 33px;
   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* #avatar-loading {
    font-size: 3em;
  } */